@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background min-h-screen;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply tracking-tight;
    }
}

@layer components {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
    }
}

@keyframes marquee {
    from {
        transform: translate(-50%, -50%) translateX(100vw);
    }
    to {
        transform: translate(-50%, -50%) translateX(-100vw);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}