{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <link rel="preload" href="{% static 'js/core_v1.bundle.js' %}" as="script">
    <link rel="stylesheet" href="{% static 'css/tailwind_output_v1.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">


    {% block extrahead %}{% endblock extrahead %}

</head>
<body class="">



<script src="{% static 'js/core_v1.bundle.js' %}"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>